<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="AppApteki.Properties.Settings.AptekiConnectionString"
            connectionString="Data Source=LAPTOP-PPLKN8CN;Initial Catalog=Apteki;Integrated Security=True"
            providerName="System.Data.SqlClient" />
        <add name="AppApteki.Properties.Settings.Appteki2ConnectionString"
            connectionString="Data Source=LAPTOP-PPLKN8CN;Initial Catalog=Appteki2;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>